@* @model AgencyCaseManagement.Application.DTOs.RegisterDTO *@
@model AgencyCaseManagement.Web.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@* pre-seeded users exist but don’t yet have passwords.

Using:

await _userManager.GeneratePasswordResetTokenAsync(user);
lets me create a secure one-time setup flow instead of manually setting PasswordHash. *@
@* Then your future SetPassword action would use:

await _userManager.ResetPasswordAsync(user, token, model.Password);
That’s the correct Identity pattern. *@
<div class="container-fluid row d-flex justify-content-center">
    <div class="card col-8">
        <div class="card-header">Register</div>
        <div class="card-body">
            <form asp-action="Register" method="post">
                @* ^^does not need 'asp-controller' attrib due to View being in /Account/ (& thus being served by AccountController)
                    ; also need to leave out "Async" suffix, which .net core strips
                *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">
                        First Name:
                    </label>
                    <input asp-for="FirstName" id="fn-input" class="form-control mb-3" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">
                        Last Name:
                    </label>
                    <input asp-for="LastName" id="ln-input" class="form-control mb-3" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" for="email" class="form-label">
                        Email:
                    </label>
                    <input asp-for="Email" id="username-or-email" class="form-control mb-3" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" for="password-input" class="form-label">
                       Create Password:
                    </label>
                    <input asp-for="Password" id="password-input" class="form-control mb-3" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">
                        Confirm Password:
                    </label>
                    <input asp-for="ConfirmPassword" id="password-input-2" class="form-control mb-3" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <a class="btn btn-secondary" asp-controller="Dashboard" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/views/account/register.js"></script>
}