@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row d-flex justify-content-evenly">
    <h1 class="display-4">Welcome to home index</h1>
    <div class="col-5"></div>
        <div class="col-5">
            <div id="calendar">
                <i class="fa-solid fa-calendar-day"></i>
            </div>
        </div>

</div>
@* @section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
} 

^^applied to _Layout*@
